
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Stock market prediction using deep learning</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <header class="fixed-top">
      <div class="header-bar">
        <nav id="navbar" class="navbar">
          <ul class="header-items">
            <li>
              <a class="heading-btn" href="index"
                >Stock market prediction using deep learning and Machine
                Learning Methods</a
              >
            </li>
            <li><a class="logout-btn" href="login">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="login_page">
      <div class="container">
        <form class="login" action="/predict" method="POST">
          <div class="login_title">
            <h2>PLEASE ENTER A STOCK SYMBOL</h2>
            {% if not_found %}
            <div class="alert alert-danger" role="alert">
              Stock Symbol (Ticker) Not Found. Please Enter a Valid Ticker
              Symbol
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="nm"
              placeholder="Company Ticker Symbol"
            />
          </div>
          <div class="login-btn">
            <button class="btn">GO</button>
          </div>
        </form>
      </div>
    </div>

   
   
  </body>


</html>
